
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>CHARACTER </title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300italic,400italic,700">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/character.css">
</head>
<body>
<div id="wrap">
    <div class="inner cf">
        <div id="side">
            <div class="sideInner">
                <header>
                    <h1 id="logo"><a href="/"><img src="/assets/img/common/logo.png" height="127" width="190" alt=""></a></h1>
                </header>
                <nav>
                    <div id="gnav">
                        <ul>
                            <li class="gnav__item" data-page="home"><a class="active" href="/">TOP</a></li>
                            <li class="gnav__item" data-page="news"><a href="/news/">NEWS</a></li>
                            <li class="gnav__item" data-page="story"><a href="/story/">STORY</a></li>
                            <li class="gnav__item" data-page="staff-cast"><a href="/staff-cast/">STAFF&amp;CAST</a></li>
                            <li class="gnav__item" data-page="onair"><a href="/onair/">ON AIR</a></li>
                            <li class="gnav__item" data-page="character"><a href="/character/">CHARACTER</a></li>
                            <li class="gnav__item" data-page="world"><a href="/world/">WORLD</a></li>
                            <li class="gnav__item" data-page="music"><a href="/music/">MUSIC</a></li>
                        </ul>
                        <div class="gnav__bunner">
                            <ul>
                                <li class="gnav__bunner-item"><a target="_blank" href="http://idolmaster.jp/"><img src="/assets/img/common/links/link1.png" height="46" width="164" alt=""></a></li>
                                <li class="gnav__bunner-item"><a target="_blank" href="http://columbia.jp/idolmaster/"><img src="/assets/img/common/links/link2.png" height="46" width="164" alt=""></a></li>
                                <li class="gnav__bunner-item"><a target="_blank" href="http://idolmaster.jp/blog/"><img src="/assets/img/common/links/link3.png" height="46" width="164" alt=""></a></li>
                                <li class="gnav__bunner-item"><a target="_blank" href="http://imas-anime-project.com/"><img src="/assets/img/common/links/link5.png" height="46" width="164" alt=""></a></li>
                                <li class="gnav__bunner-item"><a target="_blank" href="http://www.idolmaster-anime.jp/"><img src="/assets/img/common/links/link6.png" height="46" width="164" alt=""></a></li>
                                <li class="gnav__bunner-item"><a target="_blank" href="http://www.idolmaster-anime.jp/tv/"><img src="/assets/img/common/links/link4.png" height="46" width="164" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div id="footer">
                    <div class="footer__links">
                        <div class="footer__links-row">
                            <div class="footer__links-item"><a target="_blank" href="http://www.aniplex.co.jp/support/user.html"><img src="/assets/img/common/footer/ft_contact.png" height="11" width="57" alt=""></a></div>
                            <div class="footer__links-item"><a target="_blank" href="http://www.aniplex.co.jp/help/site.html"><img src="/assets/img/common/footer/ft_copyright.png" height="11" width="51" alt=""></a></div>
                        </div>
                        <div class="footer__links-row">
                            <div class="footer__links-item"><a target="_blank" href="http://www.aniplex.co.jp/help/privacy.html"><img src="/assets/img/common/footer/ft_policy.png" height="11" width="91" alt=""></a></div>
                            <div class="footer__links-item"><a target="_blank" href="http://www.aniplex.co.jp/"><img src="/assets/img/common/footer/ft_aniplex.png" height="11" width="63" alt=""></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main">
            <div id="content" class="list">
                <section>
                    <div class="content__head">
                        <h2>CHARACTER</h2>
                    </div><!-- /.content__head -->
                    <div class="character">
                        <div class="character__contents">
                            <ul class="unit__link cf">
                                <li class="toScroll item_red" data-target="cg_unit_01">new generations</li>
                                <li class="toScroll item_blue" data-target="cg_unit_02">LOVE LAIKA</li>
                                <li class="toScroll item_purple" data-target="cg_unit_03">Rosenburg Engel</li>
                                <li class="toScroll item_pink" data-target="cg_unit_04">CANDY ISLAND</li>
                                <li class="toScroll item_orange" data-target="cg_unit_05">凸レーション</li>
                                <li class="toScroll item_cyan" data-target="cg_unit_06">＊(Asterisk)</li>
                            </ul>

                            <ul class="cf">
                                <li class="character__list-item">
                                    <a href="#uzuki">
                                        <div class="character__list-bottom">
                                            <p class="character__name">島村卯月</p>
                                            <span class="btn-more">more</span>
                                        </div>
                                        <span class="character__images"><img src="/character/images/thumb/uzuki.jpg" alt=""></span>
                                    </a>
                                </li>
                                <li class="character__list-item">
                                    <a href="#rin">
                                        <div class="character__list-bottom">
                                            <p class="character__name">渋谷 凛</p>
                                            <span class="btn-more">more</span>
                                        </div>
                                        <span class="character__images"><img src="/character/images/thumb/rin.jpg" alt=""></span>
                                    </a>
                                </li>
                                <li class="character__list-item">
                                    <a href="#mio">
                                        <div class="character__list-bottom">
                                            <p class="character__name">本田未央</p>
                                            <span class="btn-more">more</span>
                                        </div>
                                        <span class="character__images"><img src="/character/images/thumb/mio.jpg" alt=""></span>
                                    </a>
                                </li>
                                <li class="character__list-item">
                                    <a href="#miria">
                                        <div class="character__list-bottom">
                                            <p class="character__name">赤城みりあ</p>
                                            <span class="btn-more">more</span>
                                        </div>
                                        <span class="character__images"><img src="/character/images/thumb/miria.jpg" alt=""></span>
                                    </a>
                                </li>
                                <li class="character__list-item">
                                    <a href="#anastasia">
                                        <div class="character__list-bottom">
                                            <p class="character__name">アナスタシア</p>
                                            <span class="btn-more">more</span>
                                        </div>
                                        <span class="character__images"><img src="/character/images/thumb/anastasia.jpg" alt=""></span>
                                    </a>
                                </li>
                                <li class="character__list-item">
                                    <a href="#chieri">
                                        <div class="character__list-bottom">
                                            <p class="character__name">緒方智絵里</p>
                                            <span class="btn-more">more</span>
                                        </div>
                                        <span class="character__images"><img src="/character/images/thumb/chieri.jpg" alt=""></span>
                                    </a>
                                </li>
                                <li class="character__list-item">
                                    <a href="#ranko">
                                        <div class="character__list-bottom">
                                            <p class="character__name">神崎蘭子</p>
                                            <span class="btn-more">more</span>
                                        </div>
                                        <span class="character__images"><img src="/character/images/thumb/ranko.jpg" alt=""></span>
                                    </a>
                                </li>
                                <li class="character__list-item">
                                    <a href="#rika">
                                        <div class="character__list-bottom">
                                            <p class="character__name">城ヶ崎莉嘉</p>
                                            <span class="btn-more">more</span>
                                        </div>
                                        <span class="character__images"><img src="/character/images/thumb/rika.jpg" alt=""></span>
                                    </a>
                                </li>
                                <li class="character__list-item">
                                    <a href="#riina">
                                        <div class="character__list-bottom">
                                            <p class="character__name">多田李衣菜</p>
                                            <span class="btn-more">more</span>
                                        </div>
                                        <span class="character__images"><img src="/character/images/thumb/riina.jpg" alt=""></span>
                                    </a>
                                </li>
                                <li class="character__list-item">
                                    <a href="#minami">
                                        <div class="character__list-bottom">
                                            <p class="character__name">新田美波</p>
                                            <span class="btn-more">more</span>
                                        </div>
                                        <span class="character__images"><img src="/character/images/thumb/minami.jpg" alt=""></span>
                                    </a>
                                </li>
                                <li class="character__list-item">
                                    <a href="#anzu">
                                        <div class="character__list-bottom">
                                            <p class="character__name">双葉 杏</p>
                                            <span class="btn-more">more</span>
                                        </div>
                                        <span class="character__images"><img src="/character/images/thumb/anzu.jpg" alt=""></span>
                                    </a>
                                </li>
                                <li class="character__list-item">
                                    <a href="#miku">
                                        <div class="character__list-bottom">
                                            <p class="character__name">前川みく</p>
                                            <span class="btn-more">more</span>
                                        </div>
                                        <span class="character__images"><img src="/character/images/thumb/miku.jpg" alt=""></span>
                                    </a>
                                </li>
                                <li class="character__list-item">
                                    <a href="#kanako">
                                        <div class="character__list-bottom">
                                            <p class="character__name">三村かな子</p>
                                            <span class="btn-more">more</span>
                                        </div>
                                        <span class="character__images"><img src="/character/images/thumb/kanako.jpg" alt=""></span>
                                    </a>
                                </li>
                                <li class="character__list-item">
                                    <a href="#kirari">
                                        <div class="character__list-bottom">
                                            <p class="character__name">諸星きらり</p>
                                            <span class="btn-more">more</span>
                                        </div>
                                        <span class="character__images"><img src="/character/images/thumb/kirari.jpg" alt=""></span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="character__contents other_idols">
                            <h3 class="cinderellera_project">３４６プロダクション所属アイドル</h3>

                            <ul class="cf">
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">安部菜々</p>
                                        <p class="character__lead">Nana Abe</p>
                                        <p class="character__cv">CV:三宅麻理恵</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/nana.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">安斎 都</p>
                                        <p class="character__lead">Miyako Anzai</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/miyako.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">市原仁奈</p>
                                        <p class="character__lead">Nina Ichihara</p>
                                        <p class="character__cv">CV:久野美咲</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/nina.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">上田鈴帆</p>
                                        <p class="character__lead">Suzuho Ueda</p>
                                        <p class="character__cv">CV:春野ななみ</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/suzuho.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">及川 雫</p>
                                        <p class="character__lead">Shizuku Oikawa</p>
                                        <p class="character__cv">CV:のぐち ゆり</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/shizuku.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">大槻 唯</p>
                                        <p class="character__lead">Yui Ohtsuki</p>
                                        <p class="character__cv">CV:山下七海</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/yui.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">片桐早苗</p>
                                        <p class="character__lead">Sanae Katagiri</p>
                                        <p class="character__cv">CV:和氣あず未</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/sanae.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">神谷奈緒</p>
                                        <p class="character__lead">Nao Kamiya</p>
                                        <p class="character__cv">CV:松井恵理子</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/nao.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">川島瑞樹</p>
                                        <p class="character__lead">Mizuki Kawashima</p>
                                        <p class="character__cv">CV:東山奈央</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/mizuki.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">木村夏樹</p>
                                        <p class="character__lead">Natsuki Kimura</p>
                                        <p class="character__cv">CV:安野希世乃</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/natsuki.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">古賀小春</p>
                                        <p class="character__lead">Koharu Koga</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/koharu.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">輿水幸子</p>
                                        <p class="character__lead">Sachiko Koshimizu</p>
                                        <p class="character__cv">CV:竹達彩奈</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/sachiko.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">小早川紗枝</p>
                                        <p class="character__lead">Sae Kobayakawa</p>
                                        <p class="character__cv">CV:立花理香</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/sae.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">小日向美穂</p>
                                        <p class="character__lead">Miho Kohinata</p>
                                        <p class="character__cv">CV:津田美波</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/miho.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">鷺沢文香</p>
                                        <p class="character__lead">Fumika Sagisawa</p>
                                        <p class="character__cv">CV:M・A・O</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/fumika.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">佐久間まゆ</p>
                                        <p class="character__lead">Mayu Sakuma</p>
                                        <p class="character__cv">CV:牧野由依</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/mayu.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">櫻井桃華</p>
                                        <p class="character__lead">Momoka Sakurai</p>
                                        <p class="character__cv">CV:照井春佳</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/momoka.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">佐城雪美</p>
                                        <p class="character__lead">Yukimi Sajo</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/yukimi.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">塩見周子</p>
                                        <p class="character__lead">Syuko Shiomi</p>
                                        <p class="character__cv">CV:ルゥ・ティン</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/syuko.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">城ヶ崎美嘉</p>
                                        <p class="character__lead">Mika Jougasaki</p>
                                        <p class="character__cv">CV:佳村はるか</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/mika.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">白坂小梅</p>
                                        <p class="character__lead">Koume Sirasaka</p>
                                        <p class="character__cv">CV:桜咲千依</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/koume.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">高垣 楓</p>
                                        <p class="character__lead">Kaede Takagaki</p>
                                        <p class="character__cv">CV:早見沙織</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/kaede.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">高森藍子</p>
                                        <p class="character__lead">Aiko Takamori</p>
                                        <p class="character__cv">CV:金子有希</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/aiko.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">橘ありす</p>
                                        <p class="character__lead">Arisu Tachibana</p>
                                        <p class="character__cv">CV:佐藤亜美菜</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/arisu.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">道明寺歌鈴</p>
                                        <p class="character__lead">Karin Domyouji</p>
                                        <p class="character__cv">CV:新田ひより</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/karin.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">十時愛梨</p>
                                        <p class="character__lead">Airi Totoki</p>
                                        <p class="character__cv">CV:原田ひとみ</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/airi.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">難波笑美</p>
                                        <p class="character__lead">Emi Namba</p>
                                        <p class="character__cv">CV:伊達朱里紗</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/emi.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">浜口あやめ</p>
                                        <p class="character__lead">Ayame Hamaguchi</p>
                                        <p class="character__cv">CV:田澤茉純</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/ayame.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">速水 奏</p>
                                        <p class="character__lead">Kanade Hayami</p>
                                        <p class="character__cv">CV:飯田友子</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/kanade.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">日野 茜</p>
                                        <p class="character__lead">Akane Hino</p>
                                        <p class="character__cv">CV:赤﨑千夏</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/akane.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">姫川友紀</p>
                                        <p class="character__lead">Yuki Himekawa</p>
                                        <p class="character__cv">CV:杜野まこ</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/yuki.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">福山 舞</p>
                                        <p class="character__lead">Mai Fukuyama</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/mai.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">藤本里奈</p>
                                        <p class="character__lead">Rina Fujimoto</p>
                                        <p class="character__cv">CV:金子真由美</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/rina.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">北条加蓮</p>
                                        <p class="character__lead">Karen Hojo</p>
                                        <p class="character__cv">CV:渕上 舞</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/karen.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">星 輝子</p>
                                        <p class="character__lead">Syoko Hoshi</p>
                                        <p class="character__cv">CV:松田颯水</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/syoko.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">堀 裕子</p>
                                        <p class="character__lead">Yuko Hori</p>
                                        <p class="character__cv">CV:鈴木絵理</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/yuko.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">松永 涼</p>
                                        <p class="character__lead">Ryo Matsunaga</p>
                                        <p class="character__cv">CV:千菅春香</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/ryo.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">宮本フレデリカ</p>
                                        <p class="character__lead">Frederica Miyamoto</p>
                                        <p class="character__cv">CV:髙野麻美</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/frederica.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">大和亜季</p>
                                        <p class="character__lead">Aki Yamato</p>
                                        <p class="character__cv">CV:村中 知</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/aki.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">龍崎 薫</p>
                                        <p class="character__lead">Ryuzaki Kaoru</p>
                                        <p class="character__cv">CV:春瀬なつみ</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/kaoru.jpg" alt=""></span>
                                </li>
                                <li class="character__list-item">
                                    <div class="character__list-bottom">
                                        <p class="character__name">脇山珠美</p>
                                        <p class="character__lead">Tamami Wakiyama</p>
                                        <p class="character__cv">CV:嘉山未紗</p>
                                    </div>
                                    <span class="character__images"><img src="/character/images/thumb/idols/tamami.jpg" alt=""></span>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.character -->
                </section>
            </div><!-- /#content -->
        </div><!-- /#main -->
    </div>
</div>
<div id="loading"><div class="spinner"><div class="spinner-container container1"><div class="circle circle1"></div><div class="circle circle2"></div><div class="circle circle3"></div><div class="circle circle4"></div></div><div class="spinner-container container2"><div class="circle circle1"></div><div class="circle circle2"></div><div class="circle circle3"></div><div class="circle circle4"></div></div><div class="spinner-container container3"><div class="circle circle1"></div><div class="circle circle2"></div><div class="circle circle3"></div><div class="circle circle4"></div></div></div></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/libs.js"></script>
<script src="js/common.js"></script>
<script src="js/character.js"></script>
</body>
</html>